.img-profile {
    height: 4rem;
    width: 4rem
}
.rounded-circle {
    border-radius: 50%
}
.col-12 {
    flex: 0 0 100%;
    margin-top: 16px;
    max-width: 100%;
}
input[type='tel'] {
    left: 25%;
}
.iti.iti--allow-dropdown {
    display: block;
  }